#info {
    font-size: 30px;
}


h2{
    font-size: 30px;
    color :rgb(209, 131, 176);
    
}

body{
    background-color: rgb(234, 199, 205);
}

.vegetables-class{
    background-color: rgb(244, 244, 189);
}

